@charset "UTF-8";
/* charset para não termos problemas com acentuação */

body {
    background-image:linear-gradient(to right,#8CBF67,  #7da263);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;

}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #506741db ; /*O primeiro valor indica quanto a sombra andará para o lado, o segunda, quanto ela andará para baixo, o terceiro, quanto ela se espalhará e o quarto a cor dela*/
    padding: 10px; /*acolchoamento, acrescenta espaço em branco do conteúdo até as bordas*/
    height: 100%;
}
h1 {
    color: #3E4573;
    text-align: center;
    text-shadow: 1px 1px 2px #6e77ac91; /*Mesma coisa que o box-shadow*/
}

h2 {
    color: #6e77ac;
    text-align: center;
}
p {
    text-align: justify;
}